@model DashboardViewModel

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="counter red">
                <span class="counter-value">@Model.TotalProducts</span>
                <h3>Products</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter blue">
                <span class="counter-value">@Model.TotalCustomers</span>
                <h3>Customers</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter blue">
                <span class="counter-value">@Model.TotalDepartments</span>
                <h3>Departments</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter blue">
                <span class="counter-value">@Model.TotalEmployees</span>
                <h3>Employees</h3>
            </div>
        </div>
    </div>
</div>